@font-face {
    font-family: 'east_sea_dokdoregular';
    src: url('eastseadokdo-regular-webfont.woff2') format('woff2'),
         url('eastseadokdo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
